---
import { Image } from "astro:assets";
import { Github, Twitter, ExternalLink } from "@lucide/astro";
import { Button } from "@heroui/react";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = [
  {
    logo: "/pixelartimage.svg",
    name: "图片转像素画",
    description: "pixelartimage.com",
    href: "https://pixelartimage.com",
  },
  {
    logo: "/5gamer.png",
    name: "5Gamer",
    description: "5gamer.fun",
    href: "https://5gamer.fun",
  },
];
---

<BaseLayout title="代码笔记">
  <section class="flex-1 w-full py-16 flex flex-col gap-8 md:gap-16">
    <div class="flex flex-col items-start gap-2">
      <h2 class="text-secondary-foreground">代码笔记</h2>
      <h1 class="leading-10 md:leading-12 text-3xl">
        全栈开发工程师，专注于React、Nextjs技术栈
      </h1>

      <Button color="primary" radius="sm" variant="flat"
        >欢迎关注微信公众号【独立开发老杨】</Button
      >

      <div class="mt-4 flex items-center gap-4">
        <a
          href="https://github.com/yangfuzhang"
          target="_blank"
          class="p-2 bg-secondary rounded-full hover:shadow-md transition-all"
          ><Github
            size="24"
            class="cursor-pointer transition hover:text-primary"
          /></a
        >
        <a
          href="#"
          class="p-2 bg-secondary rounded-full hover:shadow-md transition-all"
          ><Twitter
            size="24"
            class="cursor-pointer transition hover:text-primary"
          /></a
        >
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="font-medium text-xl">我的项目</h2>
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-4">
        {
          projects.map((project) => {
            return (
              <div class="p-2 flex items-center gap-2 border-2 border-secondary-foreground rounded transition hover:shadow-md">
                <Image
                  src={project.logo}
                  alt={project.name}
                  width="48"
                  height="48"
                />
                <div class="flex flex-col gap-1">
                  <h3 class="text-medium">{project.name}</h3>
                  <p class="flex items-center gap-1 text-sm text-secondary-foreground">
                    {project.description}
                    <a href={project.href} target="_blank">
                      <ExternalLink size="16" />
                    </a>
                  </p>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </section>

  <footer
    class="w-full flex items-center justify-center gap-2 text-secondary-foreground text-sm"
  >
    <a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备2023022007号</a>
    <span>©2025 代码笔记</span>
  </footer>
</BaseLayout>
