---
import BaseLayout from "../layouts/BaseLayout.astro";
import { render } from "astro:content";

interface Props {
  title: string;
  posts: any[];
  baseUrl: string;
}

const { title, posts, baseUrl } = Astro.props;
---

<BaseLayout title={title}>
  <div class="w-full flex flex-col gap-4 py-16">
    {
      posts.map(async (post) => {
        const { remarkPluginFrontmatter } = await render(post);

        return (
          <a href={`${baseUrl}/${post.id}`}>
            <div>
              <h2 class="">{post.data.title}</h2>
              <div class="text-sm text-secondary-foreground">
                <span>{post.data.pubDate}</span>
                <span>{remarkPluginFrontmatter.minutesRead}</span>
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
</BaseLayout>
