---
import Layout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
	<article class="markdown-post">
    <h2 class="title">{frontmatter.title}</h2>
    <p class="subtitle">
      <span class="text-gradient">{frontmatter.pubDate} · {frontmatter.minutesRead}</span>
    </p>
    <slot />

    <a href={frontmatter.prevUrl}>
      <span class="text-gradient">&gt; cd ..</span>
    </a>
	</article>
</Layout>

<style lang="less" is:global>
  article.markdown-post {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: var(--primary-text-color);
		font-size: 16px;
		line-height: 1.6;

    .title {
      margin: 0;
    }

    .subtitle {
      margin: 0.1rem;
      font-size: 14px;
    } 

    a {
      color: var(--link-color);

      &:hover {
        text-decoration: underline;
      }
    }

    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1em 0;
      padding: 0.5rem 10px 0.5rem;
      quotes: "\201C""\201D""\2018""\2019";
      color: var(--markdown-blockquote-color);
    }

    pre {
      padding: 1rem;
      border-radius: 2px;
    }
	}

  
</style>
