---
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
  frontmatter: Record<string, any>;
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <article class="markdown-post w-full py-8 flex flex-col gap-2">
    <h1 class="text-2xl font-medium">{frontmatter.title}</h1>
    <p class="text-sm text-secondary-foreground">
      <span>{frontmatter.pubDate} · {frontmatter.minutesRead}</span>
    </p>

    <div class="my-2">
      <slot />
    </div>

    <a href={frontmatter.prevUrl}>
      <span>&gt; cd ..</span>
    </a>
  </article>
</BaseLayout>

<style lang="less" is:global>
  article.markdown-post {
    margin: auto;
    font-size: 16px;
    line-height: 1.6;

    a {
      color: var(--primary);

      &:hover {
        text-decoration: underline;
      }
    }

    h3 {
      margin: 1.2rem 0;
      font-weight: 700;
      font-size: 1.2rem;
    }

    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1em 0;
      padding: 0.5rem 10px 0.5rem;
      quotes: "\201C" "\201D" "\2018" "\2019";
    }

    pre {
      padding: 1rem;
      border-radius: 2px;
    }
  }
</style>
